@import url('https://fonts.googleapis.com/css2?family=Andika:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --black: black;
    --light-colr:#666;
    box-shadow: 2px 2px 12px rgba(0,0,0,0.1);
}

*{
    font-family: "andika";
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    text-decoration: none;
    transition: all .2s linear;
}


html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 7rem;
    scroll-behavior: smooth;
}

body{
    background: #eee;
    padding-top: 10%;
    align-items: center;
    flex-direction: column;
    margin: -20px 0 50px;
    justify-content: center;
    min-height: 100vh;
    display: flex;
}

/*header*/


.header{
   height: 100px;
   position: fixed;
   top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    border: 1px solid; 
    justify-content: space-between;
    padding: 2rem 9%;
    background: #fff;
    z-index: 1000;
    box-shadow: var(--box-shadow);
}

.header .logo img{
    margin-top: 10Px;
    height: 100%;
    width: 65%;
    display: inline-block;
}
 
.header .header a{
    font-size: 1.7rem;
    border-radius: .5rem;
    padding: .5rem 1.5rem;
    color: var(--light-color);
}

.header .header a:hoever{
    color: #fff;
    background: linear-gradient(120deg, #faB2FF 40%,#663399);
}

.header .menubtn{ 
margin-right: 60px;
}

.header .menubtn button{
    padding: 10px 45px;
    text-align: center;
    font-size: 14px;
    color: #fff;
    border: none;
    background-image: linear-gradient(to right,#649bff,#0070fa,#649bf6);
    border-radius: 10px;
}





/*header*/


























